.skill-mf .progress .progress-bar {
  animation: html-programming 3s normal forwards;
  width: 0;
  border-radius: 0px !important;
  height: .7rem;
  background-color: #0078ff;
}

@keyframes html-programming {
  0% { width: 0; }
  100% { width: 80%; }
}